factory_method/advanced/loggr_class/__pycache__
factory_method/advanced/furniture_class/__pycache__
factory_method/advanced/logger_class/__pycache__
factory_method/simple/__pycache__
factory_method/simple/__pycache__
